// Main-card
.card {
  width: 65%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
}

// Left side
.img-and-background {
 overflow: hidden;
 position: relative;
 width: 95%;
 height: 100%;
}

#bg-pattern {
  height: 100%;
  img {
  position: absolute;
  right: 17%;
  top: -62%;
  z-index: 1;
  }
}

#woman-online {
  height: 100%;
  img {
  position: absolute;
  width: 100%;
  left: -15%;
  top: 22%;
  z-index: 2;
  }
}

#box {
  height: 100%;
  img {
  position: absolute;
  width: 10%;
  left: 12%;
  top: 42%;
  z-index: 3;
  }
}

// Right side

.faq-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 105%;
  padding: 0px 25px;
}

.accordion {
  width: 90%;
  margin: 2rem auto;
}

.accordion-item {
  margin: 1rem 0;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: rotate 1s;
}

.arrow-down.active {
  transform: rotate(180deg);
}